#### Reading table data

In [ ]:
df = spark.sql("SELECT * FROM OneLake_Shaun.propertysales LIMIT 1000")
display(df)

#### Run traditional SQL queries using spark.sql

In [ ]:
df = spark.sql("SELECT concat(Address,', ', City ) as FullAddress, Type FROM OneLake_Shaun.propertysales WHERE Type like '%House%' ")
display(df)

#### Dynamic SQL Statements 
We can make use of f-strings in Python to dynamically inject python variables into the SQL query string - fun! 

You might use this to loop through a list of table names, read them into a dataframe one-by-one and and perform some actions on them.

In [ ]:
# define a list for looping
limits = [1,2,3]

# loop through the list, injecting the dynamic variable into the SQL query string 
for limit in limits: 
    df = spark.sql(f"SELECT * FROM OneLake_Shaun.propertysales LIMIT {limit}")
    # do something more useful 
    df.show()

#### Creating temporary views

In [ ]:
# first let's rfresh the datafame 
df = spark.sql("SELECT * FROM OneLake_Shaun.propertysales")

# create a temporary view called 'SalesFact'
df.createOrReplaceTempView("SalesFact")

In [ ]:
# we can now reference that Temporary View within a spark.sql statement 
spark.sql("SELECT * from SalesFact").show()